/* header */
header {
  width: 100%;
  position: relative;
}
.content {
  padding-bottom: 1.3333rem ;
}
.top {
  height: 3.3333rem ;
  width: 100%;
  background-color: #1448ae;
}
.top {
  padding-top: 0.84rem ;
}
.top i {
  display: inline-block;
  background: url(../img/sprites.png) top 3.5% left 13.867% no-repeat;
  width: 0.24rem ;
  height: 0.44rem ;
  vertical-align: middle;
  background-size: 4100% auto;
}
.top p {
  padding-left: 0.56rem ;
}
.top span {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 0.4267rem ;
  padding-left: 40%;
}
.bottom {
  width: 100%;
  background-color: #edf1f2;
  border-bottom: 2px solid #cad7da;
  padding: 1.5333rem  0rem 0.2667rem
     0rem;
}
.bottom h2 {
  text-align: center;
  color: #888d94;
}
.bottom p {
  font-size: 0.32rem ;
  color: #a9aaad;
  text-align: center;
}
.bottom-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.bottom-data div {
  height: 1.6rem ;
  width: 49.867%;
}
.bottom-data div:first-child {
  border-right: 0.0533rem  dashed #cad7da;
}
.bottom-data p {
  font-size: 0.6667rem;
  color: #676c73;
}
.data-left p > span {
  display: inline-block;
  font-size: 0.3733rem ;
  vertical-align: text-top;
}
.data-right p > span {
  display: inline-block;
  font-size: 0.32rem ;
  vertical-align: text-bottom;
}
.data-explain {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #979da4;
  font-size: 0.3733rem ;
}
.head-img {
  position: absolute;
  top: 21.3333333%;
  left: 40%;
  z-index: 10;
  border-radius: 50%;
  border: 0.0933rem  solid #fff;
  background-color: #e0e2e7;
  padding: 0.4rem;
}
.person {
  background: url(../img/sprites.png) right 21.4% bottom 6.933% no-repeat;
  display: inline-block;
  width: 1.3467rem ;
  height: 1.36rem ;
  background-size: 742.56% auto;
}
.camera {
  position: absolute;
  top: 38%;
  right: 25%;
  z-index: 15;
}
.camera img {
  width: 0.9733rem ;
}
@media screen and (min-width: 750px) {
  .head-img {
    left: 38%;
  }
  .camera {
    right: 36%;
  }
  .top span {
    padding-left: 44%;
  }
}
@media screen and (min-width: 900px) {
  .head-img {
    left: 44%;
  }
  .camera {
    right: 44%;
  }
}

section {
  width: 100%;
  padding: 0.5333rem ;
}
.menu-top {
  display: flex;
  justify-content: space-between;
}
.list i {
  display: inline-block;
}
.order {
  background: url(../img/sprites.png) bottom 18% left 6.2% no-repeat;
  width: 0.8667rem ;
  height: 1.12rem ;
  margin-left: 0.1867rem;
  background-size: 1150% auto;
}
.give-money {
  background: url(../img/sprites.png) bottom 18% left 23% no-repeat;
  width: 0.8667rem;
  height: 1.12rem ;
  background-size: 1150% auto;
}
.go-out {
  background: url(../img/sprites.png) bottom 17.5% left 39.5% no-repeat;
  width: 1.0667rem ;
  height: 1.2rem ;
  background-size: 950% auto;
}
.speak {
  background: url(../img/sprites.png) bottom 18% left 56.8% no-repeat;
  width: 1.0667rem ;
  height: 1.2rem ;
  background-size: 980% auto;
}
.list p {
  text-align: center;
  color: #676c73;
  font-size: 0.32rem ;
}
.li {
  width: 100%;
}
.li li {
  list-style-type: none;
  padding: 0.2667rem  0rem;
  display: flex;
}
.li i {
  display: inline-block;
}
.li li:first-child .bg-img {
  background: url(../img/sprites.png) bottom 5.933% left 5.733% no-repeat;
  background-size: 1100% auto;
  vertical-align: middle;
}
.li li:nth-child(2) .bg-img {
  background: url(../img/sprites.png) bottom 5.933% left 23% no-repeat;
  background-size: 1100% auto;
  vertical-align: middle;
}
.li li:nth-child(3) .bg-img {
  background: url(../img/sprites.png) bottom 5.933% left 39.5% no-repeat;
  background-size: 1100% auto;
  vertical-align: middle;
}
.li li:last-child .bg-img {
  background: url(../img/sprites.png) bottom 5.933% left 56% no-repeat;
  background-size: 1100% auto;
  vertical-align: middle;
}
.bg-img {
  width: 0.84rem ;
  height: 0.84rem ;
}
.li span {
  padding-left: 0.2667rem ;
  font-size: 0.3733rem ;
  color: #676c73;
  line-height: 0.84rem ;
}
.right {
  margin-left: auto;
  background: url(../img/sprites.png) top 3.4% left 19.467% no-repeat;
  width: 0.24rem ;
  height: 0.44rem ;
  background-size: 4100% auto;
  transform: rotate(180deg);
  vertical-align: middle;
}
/* footer */
footer {
  width: 100%;
  background-color: #ededed;
  display: flex;
  justify-content: space-around;
  padding: 0.2667rem  0rem;
  position: fixed;
  bottom: 0%;
  left: 0%;
  z-index: 20;
}
.footer-img > i {
  display: inline-block;
}
.footer-img:first-child i {
  background: url(../img/sprites.png) top 10.8% left 6.3% no-repeat;
  height: 0.6267rem ;
  width: 0.72rem ;
  background-size: 1400% auto;
}
.footer-img:nth-child(2) i {
  background: url(../img/sprites.png) top 10.8% left 18% no-repeat;
  height: 0.64rem ;
  width: 0.6533rem ;
  background-size: 1450% auto;
}
.footer-img:nth-child(3) i {
  background: url(../img/sprites.png) top 11.067% left 30% no-repeat;
  height: 0.6667rem ;
  width: 0.7067rem ;
  background-size: 1400% auto;
}
.footer-img:last-child i {
  background: url(../img/sprites.png) top 19.2% left 42.067% no-repeat;
  height: 0.6667rem ;
  width: 0.6667rem ;
  background-size: 1400% auto;
}
.footer-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-img span {
  display: inline-block;
  margin-top: 0.1333rem ;
  font-size: 0.32rem ;
  color: #999999;
}
.menu-active {
  color: #1448ae !important;
}
