*{
    margin: 0;
    padding: 0;
}
.box-1{
height: 4.7rem;
}
.swiper-wrapper img{
    width: 100%;
    height: 4.7rem;

}

.logo-1{
    width: 100%;
    height: 2.3rem;
    margin-top: 0.2rem;
    /* background: hotpink; */

}
.logo-1-t1{
    width: 2.2rem;
    height: 2.3rem;
    margin-left: 0.12rem;
    float: left;


}
.logo-1-t1 img{
    width: 2.2rem;
    height: 2.3rem;

    
}
.logo-1-t2{
    width: 2.4rem;
    height: 2.3rem;
    margin-left: 0.12rem;
    float: left;
   
}
.logo-1-t2-1{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    
}
.logo-1-t2-1 img{
    width: 2.4rem;
    height: 1.1rem;
    
}
.logo-1-t2-2{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    margin-top: 0.1rem;
    
}
.logo-1-t2-2 img{
    width: 2.4rem;
    height: 1.1rem;
    
}
/* .kb{
    width: 100%;
    height: 0.2rem;
} */
.logo-1-t2-11{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    background: #3DACE0;
    text-align: center;
    
}
.logo-1-t2-11 span{
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 1rem;
}

.logo-1-t2-12{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    margin-top: 0.1rem;
    background: #36B6D2;
    text-align: center;
    
}
.logo-1-t2-12 span{
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 1rem;
}
.logo-1-t2-111{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    background: #BAC734;
    text-align: center;
    
}
.logo-1-t2-111 span{
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 1rem;
}

.logo-1-t2-122{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    margin-top: 0.1rem;
    background: #82C734;
    text-align: center;
    
}
.logo-1-t2-122 span{
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 1rem;
}
.logo-1-t2-11-1{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    background: #BAC734;
    text-align: center;
    
}
.logo-1-t2-11-1 span{
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 1rem;
}

.logo-1-t2-12-1{
    width: 2.4rem;
    height: 1.1rem;
    float: left;
    /* margin-left: 0.1rem; */
    margin-top: 0.1rem;
    background: #55C734;
    text-align: center;
    
}
.logo-1-t2-12-1 span{
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 1rem;
}
.tp-1{
    width: 100%;
    height: 1.8rem;
    margin-top: 0.2rem;
}
.tp-1 img{
    width: 100%;
    height: 1.8rem;
}
.tmh{
    width: 100%;
    height: 1rem;
    /* margin-top: 0.1rem; */
    /* background: hotpink; */
    
}
.tmh img{
    width: 0.76rem;
    height: 1rem;
    margin-left: 0.3rem;
    float: left;

}
.tmh span {
    font-size: 0.4rem;
    margin-top: 0.22rem;
    color: #144BAE;
    margin-left: 0.2rem;
    float: left;
   /* font-weight: bold; */
}
.xq{
    width: 100%;
    height: 3.9rem;
    /* padding-bottom: 1rem; */
    /* background: hotpink; */
}
.xq-1{
    width: 50%;
    height: 3.9rem;
    text-align: center;
    /* background: orangered; */
    /* border: 0.01rem solid black;
    border-radius: 0.01rem 0.01rem 0.01rem 0.01rem; */
   float: left;
   /* margin-left: 0.01rem; */
}
.xq-1 img{
    width: 3.4rem;
    height: 2.2rem;
   
}
/* .xq-1 span{
font-size: 0.22rem;
text-align: center;
} */
.wz{
    font-size: 0.28rem;
text-align: center;
}
.wz-1{
    font-size: 0.28rem;
   margin-right: 0.12rem;
}

.wz-2{
      font-size: 0.1rem;  
     line-height: 0.7rem;
     margin-right: 1rem;
    text-align: left;
    color: #C3C3C3;
}
.wz-3{
    font-size: 0.2rem;  
   line-height: 0.7rem;
  /* margin-right: 1rem; */
  text-align: left;
  color: #FFBC59;
}
.wz-4{
    font-size: 0.1rem;  
   line-height: 0.7rem;
  
  text-align: left;
  color: #C3C3C3;
}
.bk{
    border: 0.01rem solid #C3C3C3;
    border-radius: 0.01rem 0.01rem 0.01rem;
    width: 3.4rem;
    height: 1.4rem;
   margin: 0 auto;
}
.kb-11{
width: 100%;
height: 1rem;
}
.jw{
    width: 100%;
    height: 2rem;
/* margin-top: 2rem; */
position: fixed;
bottom: -1rem;
background-color: #ededed;
}
/* .jw img{
    width: 100%;
    /* height: 2rem; */

.jw-1{
    width: 1.7rem;
    height: 2rem;
    float: left;
    text-align: center;
   
}
.jw-1 img{
    float: left;
   width: 0.8rem;
   height: 0.7rem;
   margin-left: 0.5rem;
}
.wb{
  margin-left: 0.3rem;
  
    color: #1448ae;
    z-index: 99999;
}
